@import './utils/config';

.container {
  @include flex('container');
  background-color: $mainBgColor;

  .content {
    position: relative;
    @include flex('default');

    .pokemonInfo {
      @include flex('info');
      align-items: center;

      .btnToTopOfPage {
        @include flex('default');
        @include sizes('btn-to-top');
        position: fixed;
        bottom: 40px;
        right: 30px;
        background-color: $blackButton;
        border-radius: 50%;

        &:hover {
          background-color: $blackHover;
        }
      }

      .btnLoading {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 400px;
        height: 50px;
        background-color: $blackButton;
        border-radius: 10px;

        &:hover {
          background-color: $blackHover;
        }
      }
    }

    .details {
      display: flex;
      position: sticky;
      margin-top: 15px;
      top: 18%;
      right: 6%;
      height: 600px;
    }
  }
}
